extends ../layout

block content
	.container
		.row
			each item in shares
				.col-md-2
					.thumbnail
						a(href="/share/#{item._id}")
							img(src="http://img.mukewang.com/55b19eb4000160b506000338-240-135.jpg", alt="#{item.title}")
						.caption
							h3 #{title}
							p.tac: a.btn.btn-primary(href="/share/#{item._id}", role="button") 查看详情