link(href="/kimu.jpg", type="image/jpg", rel="icon", sizes="16*16")
link(href="/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="/css/style.css", rel="stylesheet")
script(src="/jquery/dist/jquery.min.js")
script(src="/bootstrap/dist/js/bootstrap.min.js")